.conForm
  width:80%
  margin: 25px auto
  margin-bottom: 20px
  #dropTable
    .fields
      height auto
      overflow auto
      padding 2px 0px
      width 100%
    .field-icons
      margin 0px
      padding 0px
      li
        list-style none
        margin-top 0px
        white-space nowrap
        font-size 12px
        font-weight bold
        cursor move
        display block
        width 191px
        margin-bottom 6px
      .field-icons-active
        color #fff
        width 100%
        table
          width: 100%
        tr td
          padding-left: 6px
      .field-icons-hover
        list-style none
        width 100%
        table
          background-color green_l1_black
          cursor move
          width 100%
          color title_2
        tr td
          padding-left 6px
    table.dragItem
      background-color green_color
      text-decoration none
      tr td
        line-height 39px
        font-size 12px
    .field-outer-container-hover label
      line-height 40px
      color hover_text
    .attrib-curve
      width 208px
      height 226px
      margin-top 10px
      overflow hidden
      .attrib-content
        display: block
        padding: 0px 0px 2px 8px
        h1
          margin 0
          font-size 11px
          padding 0px 3px 3px 4px
        .atBox
          display block
          background transparent
          font-size 1px
    .CIprogress
      height 40px
      span
        line-height 40px
        display block
        width auto
        font-size 14px
        font-weight bold
        padding-left 36px
        color gray_l1_text
    .gridColumn
      padding-top 3px
      min-height 220px
    #dragForm
      min-height 226px
      padding-left 7px
      .s-input
        margin-top 5px
      label
        line-height 40px
      #dotlayer
        min-height 40px
        display block
    .uicomponent
      border: 1px solid border_color
      margin-top: 5px
      margin-right 5px
      min-height 230px
    .icon-arrow-right
      width 16px
      height 16px
      margin-right 5px
  .padralr8
    padding-right 8px
    text-align right
  .editfieldicon
    text-decoration none
    vertical-align top
    width 16px
    cursor pointer
    height 16px
    display block
    float right
    visibility hidden
    margin-top 13px
    margin-right 5px
  .closefieldicon
    text-decoration none
    vertical-align top
    cursor pointer
    display block
    float right
    visibility hidden
    margin-top 13px
    margin-right 13px
  .editfieldicon:hover, .closefieldicon:hover
    opacity .75
  .field-outer-container-drag .editfieldicon, .field-outer-container-hover .editfieldicon, .field-outer-container-active .editfieldicon
    visibility visible
  .field-outer-container-drag .closefieldicon, .field-outer-container-hover .closefieldicon, .field-outer-container-active .closefieldicon
    visibility visible
  .field-outer-container
    width 98%
    border 1px solid border_color
    background-color original_l3_black
    height 40px
    margin 5px 5px 5px 0px
    cursor move
  .field-outer-container-action, .field-outer-container-hover
    width 98%
    border 1px solid border_color
    background-color original_l3_black
  .field-outer-container-action
    height 40px
  .field-outer-container-hover
    height 40px
    margin 5px 5px 5px 0px
    cursor move
    label
      line-height 40px
  .grid-content
    border 1px solid borderColor
    border-radius 0px
  .btns
    text-align center
  .titleicon
    color: title_3
    font-weight: bolder;
    height: 36px;
    font-size: 18px;
    margin-bottom: 5px;
  .title
    height 36px
    line-height 36px
    color title_1
    font-size 14px
    margin-bottom 5px
  .title.title-line
    border-left 5px solid border_color
    padding-left 8px
    border-radius 0
  .child-title
    color title_1
  .coninput
    width 200px
  .consel
    width 150px
  .relate
    width 330px
    border 1px solid border_color
    position absolute
    left 70px
    z-index 1000
  #box-link-header
    border-bottom 1px solid border_color
    color title_3
    padding-bottom 5px
  .reladiv
    margin-top 10px
    margin-left 40px
    display inline-block
    width 400px
    position relative

  .citydiv
    display inline-block
    width 400px
    position relative

  .myHeight
    max-height 300px

  .relateRow
    background-color gary_l1_black
    height 30px
    line-height 30px

  .MargRow
    height 40px
    line-height 40px
    cursor pointer
  .fontCol
    text-align center
    font-size 14px
    vertical-align middle
    color main_text
  .rowback
    background block_bg
    margin-top -4px
  .current
    border solid 1px normalcy_text
    border-radius 3px
    background-color normalcy_text
    //box-shadow 0 0 10px original_l2_black inset
    height 40px
  .typeAdd
    position absolute
    border-radius 3px
    top -1px
    margin-left 15px
  .boxdiv
    margin 10px 60px
  .pma
    margin 15px
  .savediv
    margin 10px 650px
    width 130px
  .tagclass
    margin 10px
.field-outer-container-drag
  height 38px
  width 100%
  padding 0px
  margin 0px 0px 0px 0px
  cursor move
  background-color original_l2_black
  border 1px solid border_color
  .s-input
    margin-top 5px
    color hover_text
  label
    line-height 40px
    color hover_text
  i
    color hover_text
  .editfieldicon
    text-decoration none
    vertical-align top
    width 16px
    cursor pointer
    height 16px
    display block
    float right
    margin-top 13px
    margin-right 5px
  .closefieldicon
    text-decoration none
    vertical-align top
    cursor pointer
    display block
    float right
    margin-top 13px
    margin-right 13px
#DropFieldsInfo
  font-size 16px
  color title_1
  height 186px
  text-align center
#dummy1, #dummy2
  height 0px

