body
  div
    &.mxPopupMenu
      background-image none
      background-color title_2
      box-shadow none
      position absolute
      border 1px solid border_color
  table
    &.mxPopupMenu
      border-collapse collapse
      margin 0px
  tr
    &.mxPopupMenuItem
      color gray_l1_text
      cursor default
      height 25px
      line-height 25px
    &.mxPopupMenuItemHover
      background-color rgba(gray_l2_black, 0.2)
      color gray_l1_text
      height 25px
      line-height 25px
  td
    &.mxPopupMenuIcon
      background none
      padding 0px
      padding-left 10px
      img
        height 18px
        width 18px
    &.mxPopupMenuItem
      padding-right 0px
