.gmnoprint
  z-index 99
  background-color block_bg
  position absolute
  right 0px
  bottom 0px
  width 160px
  height 160px
  .outline
    margin-left 3px
    margin-top 3px
    overflow hidden
    width 156px
    height 156px
    position absolute
    border-left 1px solid original_l2_white
    border-top 1px solid original_l2_white
  .overview_toggle
    position absolute
    right 0px
    bottom 0px
    width 16px
    height 16px
    overflow hidden
    z-index 90
    background-color original_l2_black
    border-left 1px solid original_l2_white
    border-top 1px solid original_l2_white
    color main_text
    .icon-arrow-left-top
      top -3px
      position relative
    .icon-arrow-right-bottom
      top -3px
      position relative
