.lineConnectDialog
  .titleRow
    margin-bottom 0
    .title
      font-weight 700
      color title_1
  .clearfix
    &:after
      content ''
      display block
      overflow hidden
      clear both
  .allTopoRadio
    height 36px
    line-height 36px
  .portContainer
    position relative
    .backDevice
      position absolute
      left 0
      top -78px
      transform translateY(-50%)
