.topology_body
  width 100%
  display flex
  flex-flow row
  .topology_tree
    width 265px
  .topology_graph_wrap
    flex 1
    overflow hidden
    position relative
    background-repeat no-repeat
    background-size 100% 100%
  .bottom_toggler_btn
    position relative
    margin -11px auto 0
    width 60px
    height 11px
    line-height 8px
    text-align center
    cursor pointer
    z-index 2
    border-bottom none !important
    border-top-left-radius 3px
    border-top-right-radius 3px
    border-bottom-right-radius 0
    border-bottom-left-radius 0
    i
      font-size: 10px
  #topology_graph
    overflow hidden
    background-image url('./img/orggraph/org_bg.png')
  .accountBtns li
    width 110px !important;
  .s-table-body-wrapper
    overflow-x hidden;
.cellEdgeTips
  width 295px
.cellNodeTips
  max-width 250px
.statistics
  .noData
    text-align center
    color darkWordColor
    font-size: 20px
    height: 80px
    line-height 80px
