.apply-special-table .s-form-item-content
  line-height: 20px;
.myAttention
  .attendedfull
    color red_l2_black !important
#conflictTest
  a
    color link_text
    &:hover
      color hover_text
.reportconsole
  a
    color link_text
    &:hover
      color hover_text
  .main-content
    .reportName
      border-bottom: 1px solid blue_l1_black
#process-center
  a
    color link_text
    text-decoration none
    &:hover
      color hover_text
  .s-textarea-inner
    padding 5px
  .work-order-wrapper
    .s-carousel
    overflow hidden
    .is-active
      border none
      box-shadow none
  .s-table tbody .cell .iconfont
    margin-right 2px
  .s-card-body
    height 80%
  .order-num-list
    & td, th
      &:nth-child(2)
        width 145px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
      &:nth-child(3)
        min-width 60px
  .rank-top
    & td, th
      &:nth-child(2)
        width 60px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
    .changetest
      background: #EDEEF2
      border-left: 4px solid border_color
    .titletest
      color: link_text
      &:hover
        color: hover_text
    .timetest
      color: darkWordColor
  .section-header
    border-bottom:1px solid border_color
    .s-col
      color: title_1
      text-align:center
      &:hover
        color: title_3
     .dealwork
       color: title_1
       font-weight: bold
       border-bottom-left-radius:5px
       border-bottom-right-radius:5px
       background: rgba(blue_l2_white,0.3)
#process-center
  .work-order-wrapper
    .s-carousel
    overflow hidden
    .is-active
      border none
      box-shadow none
  .s-table tbody .cell .iconfont
    margin-right 2px
  .s-card-body
    height 80%
  .rank-top
    & td, th
      &:nth-child(2)
        width 60px
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
.dealWorkContainer
  width 97%
  margin 3px auto 8px
  padding-bottom 10px
  background-color #fff
  //border-top: 3px solid #20A7F8
  border-radius 4px
  .title
    padding-top 8px
    border-bottom 1px solid border_color
    .titleRadiusBg
      margin-left 15px
    .titleInfo
      line-height 30px
      color baseColor
    .attendedfull
      color ctx_menu_hover_bd
      margin-left 15px
    .attended
      color red_l2_black
      margin-left 15px
    .type
      padding: 3px 8px 3px;
      /* border-radius: 0 0 4px 4px; */
      display: inline-block;
      position: relative;
      top: 3px;
      right: -2px;
      border-radius: 20px;
      font-size: 12px;
    .problemOrderColor /*问题工单*/
      color: #fff;
      background-color: #00bd9c;
      //box-shadow: 0 0 2px #062D1A, 0 0 1px #7FE495 inset;
      //box-shadow: 0 0 1px #7FE495 inset;
    .knowledgeOrderColor /*知识工单*/
      color: #fff;
      background-color: #9c55b8;
      //box-shadow: 0 0 2px #2E2C2F, 0 0 1px #AC9ABD inset;
      //box-shadow: 0 0 1px #AC9ABD inset;
    .eventOrderColor /*事件工单*/
      color: #fff;
      background-color: #e8504e;
      //box-shadow: 0 0 2px #480C0C, 0 0 1px #E47F7F inset;
      //box-shadow:  0 0 1px #E47F7F inset;
    .changeOrderColor /*变更工单*/
      color: #fff;
      background-color: #f2c016;
      //box-shadow: 0 0 2px #211e03, 0 0 1px #f3f5a2 inset;
      //box-shadow:  0 0 1px #f3f5a2 inset;
  .deil
    padding 0 15px
    & span
      font-size 14px
      line-height 20px
      color title_1
    .status
      display inline-block
      width 99%
      font-weight bold
      font-size 12px
    /*.green
      color #15B757*/
    .summary
      display inline-block
      width 99%
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
      vertical-align top
      min-height 20px
      font-size 12px
  .info
    padding 0 15px
    color darkWordColor
    display flex
    align-items: flex-start
    justify-content: space-between
    & p
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
    & span
      flex 1
      font-size 12px
      color darkWordColor
      line-height 22px
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
    & i
      position relative
      top -2px
  .btns
    background none
    padding 3px 15px
    padding-bottom 2px
    .s-badge + .s-badge
      margin-left 25px
    .badgeCol
      width 44%
    .badgeCol.center
      display block
      margin 0 auto
      width 100%
    .btnCol
      display inline-block
      width 100%
      margin-right 4%
      &:last-child
        margin-right 0
