/*LogAssetMonitor*/
.logAssetMonitor
  margin-top: 20px
  .score-td
    color: original_color
    cursor: pointer
  .title
    font-weight: 700
    height: 36px
    line-height: 36px
    color: original_l1_white
    font-size: 16px
  .monitorScore
    font-weight: 700;
    color: original_color;
    font-size: 16px;
  .overFlowTip
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
/*LogDownTime*/
  .logDownTime
    textarea
      background: hoverBgColor
    .noScoreResult
      text-align: center
      .result
        display: inline-block;
        height: 36px;
        line-height: 36px;
        color: redWordColor;
        font-weight: 600;
        font-size: 16px
/*logNotDownTime*/
  .logNotDownTime
    .logWrapHeight
      max-height: 500px
/*selectAsset*/
  .selectAsset
    .logWrapHeight
      max-height: 300px
