/*LogEventAlarm*/
.logEventAlarm
  margin-top: 20px
  .title
    height: 20px
    line-height: 20px
    color: title_1
    font-size: 14px
    font-weight: 700
    display: inline-block
    margin-bottom: 5px
    i
      margin-right: 5px
  .scrollHeight
    height: 630px
