#groupPanel
  width calc(100% - 10px)
  height 280px
  margin 0px
  .s-input-icon
    position absolute
    width: 35px
    height 100%
    right 0
    top 0
    text-align center
    color #bfcbd9
    transition all .3s
  .s-form-item
    margin-bottom 0px
    padding-bottom 10px
    padding-top 10px
    height 32px
    .s-checkbox
      margin-top 7px
  .check-content
    margin-right 15px
    text-align right
  .opacity-check-content
    margin-right 28px
    text-align right
  .btn-content
    text-align center
  .box-card
    width 100%
    height 258px
  .lineselect
    position relative
    float left
    height 34px
    width 120px
    border-radius: 4px
    border 1px solid border_color
    margin 0 5px
    background-repeat no-repeat
    background-position right center
    padding-right 20px
    z-index 2
  .alltypes
    margin-top 25px
    padding-bottom 10px
    height 105px
    width 115px
    border 1px solid border_color
    background original_l3_black
    .type
      width 115px
      height 21px
      &:hover
        background original_l2_white
  .color
    border-radius 4px
    height 32px
    border-width  1px
    border-style solid
  .line
    width 100px
    height 1px
    border-bottom 1px solid main_text
    padding-top 13px
    margin-left 10px
  .type1 .line
    border-bottom 1px solid main_text
  .type2 .line
    border-bottom 1px dashed main_text
  .type3 .line
    border-bottom 1px dotted main_text
  .type4 .line
    border-bottom 1px dotted main_text
  .type5 .line
    border-bottom 1px dotted main_text
  .f-left
    float left
  .opaInput
    margin-right: 5px
    vertical-align: middle
    width: 100px
