.icon-modify-dialog
  .upload-icon
    margin-left 70px
    margin-top 10px;
  .topoContent
    min-height 0px
  .iconfont
    margin-left 10px;
  .box-card
    height 260px
    width 100%
  .default-ico-list-scrollbar
    height 240px
  .defaultIcoList
    .item
      width 60px
      height 60px
      float left
      margin-left 5px
      margin-top 5px
      border 1px solid borderColor
      cursor pointer
    .item:hover
      background-color original_l1_black
