.linkAddDialog
  .allTopoRadio
    height 36px
    line-height 36px
  .linkStep2
    .titleRow
      margin-bottom 0
      .title
        font-weight 700
        color title_1
.linkAddDialog, .linkEditDialog
  .s-radio-group
    width 100%
    cursor pointer
    .s-table
      .s-radio__inner
        vertical-align middle
      .s-radio__label
        display none
.linkEditDialog
  .filterInput
    padding-right: 5px
    position relative
    z-index 1
    margin-bottom 0
    .s-input
      width: 50%
  .s-radio-group
    margin-top -35px
