// AssetList 首页 >资产管理 >资产管理列表
// AssetsMonitor_List\MonitorList.vue
.assetList
  width: 100%
  overflow: hidden
  .s-row
    margin-bottom 0
  & > .s-row
    padding-left: 15px
    padding-right: 15px
  .listChunk
    .searchBtChunk
      margin-bottom 8px
    .searchFormChunk
      padding: 10px 15px
      border: solid 1px border_color
      border-radius: 5px
      background: block_bg
      margin-bottom 8px
      .s-form-item
        margin-bottom 0
      .s-tree
        background: block_bg
        border: 1px solid border_color
    .left
      float: left
    .right
      float: right
    .listHeight
      height: 707px
      padding-right 17px
    .s-tabs
      width: 100%
      margin: 0 auto
      .s-tabs-nav
        width: 100%
        .s-tabs-tab
          text-align center
          margin-right: 0
          width: 50%
    .s-tree
      border: none
      background transparent
    .pageRow
      margin-top 8px
    .s-table
      .ip
        color hover_text
        cursor default
        &:hover
          text-decoration underline
      .cell
        padding-left 10px
        padding-right 10px
        white-space nowrap
      .iconfont
        margin-right 5px
        &:last-child
          margin-right 0
      .stateImg
        vertical-align middle
  .loadingBox
    background-color rgba(title_2, 0.1)
