/*AssetClass*/
.assetClass
  margin-top: 20px
  .score-td
    color: original_color;
    cursor: pointer
/*AssetDetail*/
 .assetDetail .logWrapHeight
    max-height: 550px
/*SelectInstitution*/
.selectInstitution
  .right
    margin-left: 350px
  .logWrapHeight
    max-height: 400px
