/*LogEventAlarm*/
.logEventAlarm
  margin-top: 20px
  .title
    height: 20px
    line-height: 20px
    color: original_color
    font-weight: 700
    font-size:14px
    display: inline-block
    margin-bottom: 5px
    i
      margin-right: 5px
  .scrollHeight
    height: 630px
