/*accountDetail*/
.logInstitutionAccountDetail .logWrapHeight {
  max-height: 350px;
}
  /*accountRelationShip*/
.accountRelationship .tool-bar .s-button + .s-button {
  margin-left: 10px;
}
.accountRelationship .score-td {
  color: original_color;
  cursor: pointer;
}
/*accountStatistics*/
.accountStatistics .tool-bar .s-button + .s-button {
  margin-left: 10px;
}
.accountStatistics .score-td {
  color: original_color;
  cursor: pointer;
}
/*sysPrivilege*/
.logSysPrivilege .title {
  height: 20px;
  color: original_color;
  font-weight: 700;
  margin: 0;
  display: inline-block;
}
.logSysPrivilege .title i {
  margin-right: 5px;
}
.logSysPrivilege .logWrapHeight {
  max-height: 200px;
}
/*checkAccount*/
.checkAccount .scrollheight {
  max-height: 480px
}
/*checkAssetAccount*/
.checkAssetAccount .scrollheight {
  max-height: 480px
}
/*LogInstitutionAccount*/
.log-alarm-more{
  margin-top: 20px;
}
/*logInstitutionOperateDetail*/
.logInstitutionOperateDetail .logWrapHeight {
  max-height: 350px;
}

.logInstitutionOperateDetail .s-table tbody .cell .iconfont {
  position: absolute;
  left: 0
}
/*logPasswordDetail*/
.logPasswordDetail .logWrapHeight {
  max-height: 400px;
}
/*logPassword*/
.logPassword .score-td {
  color: original_color;
  cursor: pointer
}
/*selectAsset*/
.selectAsset .logWrapHeight {
  max-height: 400px;
}
/*selectInstitution*/
.selectInstitution .right {
  margin-left: 350px
}
.selectInstitution .logWrapHeight {
  max-height: 400px;
}
