.logImportOrder
  margin-top: 20px
  .score-td
    color: original_color
    cursor: pointer
  .logWrapHeight
    max-height: 400px
  .selectInstitution
    .right
      margin-left: 350px
  .talkDetail
    .clear
      clear:both
      height: 0
      line-height: 0
      font-size: 0
