@import "reset.css";
@import "iconfont.css";

@media all {
  .noShow {
    display: none;
  }
}

@media print {
  .noPrint {
    display: none
  }
  .noShow {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: 600;
    padding: 0 0 20px 0;
    border-bottom: dashed 1px #000;
    margin: 0 0 40px 0;
  }

  .print_field {
    display: block;
    box-sizing: border-box;
    background: #fff;
    width: 1000px;
    padding: 10px;
  }

  .print_field div, .print_field table, .print_field tbody, .print_field thead, .print_field tr, .print_field td, .print_field th {
    background: transparent !important;
  }

  .print_field .s-scrollbar-bar.is-horizontal, .print_field .s-scrollbar-bar.is-vertical {
    display: none !important;
  }

  .print_field .s-scrollbar-wrap, .print_field .s-scrollbar-view {
    position: static;
    width: 100%;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    overflow: hidden;
  }

  .print_field .s-table .s-tooltip.cell {
    white-space: pre-line !important;
  }

  .print_field .s-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border: solid 1px #000;
    font-size: 14px;
    color: #000;
  }

  .print_field .s-table-fit {
    border-bottom: 0;
  }

  .print_field .s-table:before, .print_field .s-table:after {
    content: '';
    display: none;
  }

  .print_field .s-table table {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .print_field .s-table thead, .print_field .s-table tbody {
    display: flex;
    flex-direction: column;
  }

  .print_field .s-table tr {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 10px 0;
  }

  .print_field .s-table tr th, .print_field .s-table tr td {
    height: auto;
    flex: 1;
    padding: 0 5px;
    word-break: keep-all;
  }

  .print_field .s-table tr th .cell, .print_field .s-table tr td .cell {
    box-sizing: border-box;
    width: 100% !important;
  }

  .print_field .s-table tr th.gutter, .print_field .s-table tr td.gutter {
    display: none;
  }

  .print_field .s-table .s-table-header, .print_field .s-table .s-table-body {
    width: 100%;
  }

  .print_field tr {
    page-break-after: always;
  }

  .sysScrollHeight.s-scrollbar-wrap {
    height: auto;
  }
  .print_field .s-table-empty-block{
    width: 100% !important;
    background: transparent !important;
    border-bottom: 1px solid #000;
  }

  #app .index-body main {
    overflow: visible !important;
  }

  /* 固定高度 */

  .print_field .s-table {
    max-height: none !important;
  }

  .print_field .s-table-body-wrapper {
    height: auto !important;
  }

  .print_field .s-table-body-wrapper .s-scrollbar {
    height: auto !important;
  }

  .print_field .s-table-body-wrapper .s-scrollbar-wrap {
    max-height: none !important;
  }
}

/*--------变更单详情打印样式--------*/
#modifyTaskPrint .printTitle {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px
}
#modifyTaskPrint .dataRow .title {
  padding-left: 30px
}
#modifyTaskPrint .dataRow .grid-content {
  height: 27px;
  min-height: 27px;
  line-height: 27px;
  font-size: 14px
}

@media print {
  #modifyTaskPrint {
    width: 85%;
    margin: 30px auto 0;
    background-color: #ffffff
  }
  #modifyTaskPrint .printTitle {
    color: #3c434b;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 3px
  }
  #modifyTaskPrint .dataRow {
    margin-bottom: 0;
    border-top: 1px solid #e6e6e6
  }
  #modifyTaskPrint .dataRow:last-of-type {
    border-bottom: 1px solid #e6e6e6 !important
  }
  #modifyTaskPrint .dataRow:nth-child(odd) .grid-content {
    background-color: #ffffff
  }
  #modifyTaskPrint .dataRow:nth-child(even) .grid-content {
    background-color: #f5f6fa
  }
  #modifyTaskPrint .dataRow .grid-content {
    color: #3c434b;
    min-height: 36px;
    line-height: 36px;
    word-wrap: break-word;
    word-break: break-all
  }
  #modifyTaskPrint .dataRow .title {
    padding-left: 40px;
    border-right: 1px solid #e6e6e6
  }
}

