// 配置项管理
.asset-category-list
  display inline-flex
  flex-wrap nowrap
  width 100%
  margin-top 12px
  height 230px
  .asset-category
    flex 1
    margin 0 8px
    border 1px solid border_color
    background-color rgba(original_l1_black, 0.2)
    height 108px
    text-align center
    padding-top 20px
    .icon
      font-size 45px
      color original_color
      &:hover
        font-size 46px
    .name
      color gray_l3_text
.asset-calc-resource, .asset-store-resource
  .grid-content
    padding 0 8px
    background-color rgba(original_l2_black, 0.2)
    .cont
      float right
      color gray_l3_text
  .chartItem
    height 106px
