.err-page-wrapper {
  width: 100%;
  min-width: 1000px;
  background: #000103 url(img/homePage/404-bg.png) center top no-repeat;
  overflow: hidden;
}

.err-page-con {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
}

.err-page-con p {
  font-size: 18px;
  line-height: 42px;
  color: #cdcdcd;
  margin-left: 590px;
}

.err-page-con p:first-child {
  padding-top: 300px;
}

/*返回按钮*/
.err-page-con p a {
  display: inline-block;
  height: 34px;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fefefe;
  margin: 0 10px;
  padding: 0 15px;
  background: rgba(0, 40, 71, .9);
  border-radius: 2px;
  border: 1px solid rgba(58, 160, 255, .3);
}

.err-page-con p a:hover {
  transition: all .1s;
  color: #fff;
  background: rgba(22, 117, 203, 1);
  border-radius: 2px;
  border: 1px solid #1c6dad;
}

/******版权信息******/
.main-err-page footer {
  position: fixed;
  padding-bottom: 15px;
  width: 100%;
  bottom: 0;
}

.main-err-page footer p {
  font-size: 12px;
  color: #333D46;
  line-height: 18px;
  text-align: center;
}
