.state-table
  height 183px
  width 300px
  background-color block_bg
  position relative
  .state-info
    position absolute
    left 0px
    top 0px
    width 190px
    height 180px
    background url('./img/datadashboard/dashboard-bg.png') no-repeat
    .state-i-top
      height 86px
      width 90px
      margin 0 auto
      border-bottom 1px solid border_color
      .state-icon
        float left
        padding-top 42px
        width 35px
        i
          font-size 30px
          color original_l2_white
      .state-i-detail
        float left
        width 55px
        color title_1
        font-size 12px
        padding-top 40px
        .state-i-num
          font-size 16px
          color title_2
    .state-i-bottom
      height 86px
      width 90px
      margin 0 auto
      .state-data
        div
          float left
          color gray_l1_text
          font-size 12px
          line-height 20px
        .state-d-icon
          width 6px
          height 10px
          margin-left 10px
          margin-top 5px
          margin-right 5px
        .state-d-normal
          background-color green_l1_black
        .state-d-warning
          background-color yellow_l1_black
        .state-d-outage
          background-color red_l1_black
        .state-d-num
          margin-left 10px
  .state-line
    position absolute
    left 0px
    top 3px
    height 180px
    width 300px
    .state-item
      height 24px
      width 300px
      margin-bottom 2px
      text-align right
      background-position right
      color gray_l1_text
      font-size 12px
      line-height 24px
      &:last-child
        margin-bottom 0px
      &:hover
        color hover_text
      .state-num
        margin-left 8px
        margin-right 8px
        cursor pointer
        &:hover
          color hover_text
          text-decoration underline
      &.Dbcurrent
        color hover_text
  .clr
    clear both
  .state-i-tops
    height 86px
    width 90px
    margin 0 auto
    .statelag
      font-size 50px
    .state-icon
      float left
      padding-top 45px
      width 35px
    i
      font-size 30px
      color original_l2_white
    .state-i-details
      float left
      width 55px
      color title_1
      font-size 12px
      padding-top 71px
      .state-i-num
        font-size 16px
        color title_2
  /*六*/
  .state-6-item .state-item{
    height:28px;
    line-height: 28px;
  }
  .state-6-item .state-item span{
    display: block;
    float: left;
    margin-left: 202px;
  }
  .state-6-item .state-item:nth-child(1){
    background:url('./img/datadashboard/dashboard-six-list-1.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(2){
    background:url('./img/datadashboard/dashboard-six-list-2.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(3){
    background:url('./img/datadashboard/dashboard-six-list-3.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(4){
    background:url('./img/datadashboard/dashboard-six-list-4.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(5){
    background:url('./img/datadashboard/dashboard-six-list-5.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(6){
    background:url('./img/datadashboard/dashboard-six-list-6.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(1):hover,.state-6-item .state-item:nth-child(1).Dbcurrent{
    background:url('./img/datadashboard/dashboard-six-list-hover-1.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(2):hover,.state-6-item .state-item:nth-child(2).Dbcurrent{
    background:url('./img/datadashboard/dashboard-six-list-hover-2.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(3):hover,.state-6-item .state-item:nth-child(3).Dbcurrent{
    background:url('./img/datadashboard/dashboard-six-list-hover-3.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(4):hover,.state-6-item .state-item:nth-child(4).Dbcurrent{
    background:url('./img/datadashboard/dashboard-six-list-hover-4.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(5):hover,.state-6-item .state-item:nth-child(5).Dbcurrent{
    background:url('./img/datadashboard/dashboard-six-list-hover-5.png') no-repeat right;
  }
  .state-6-item .state-item:nth-child(6):hover,.state-6-item .state-item:nth-child(6).Dbcurrent{
    background:url('./img/datadashboard/dashboard-six-list-hover-6.png') no-repeat right;
  }
  /*七*/
  .state-7-item .state-item{
    height:24px;
    line-height: 24px;
  }
  .state-7-item .state-item span{
    display: block;
    float: left;
    margin-left: 202px;
  }
  .state-7-item .state-item:nth-child(1){
    background:url('./img/datadashboard/dashboard-list-1.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(2){
    background:url('./img/datadashboard/dashboard-list-2.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(3){
    background:url('./img/datadashboard/dashboard-list-3.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(4){
    background:url('./img/datadashboard/dashboard-list-4.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(5){
    background:url('./img/datadashboard/dashboard-list-5.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(6){
    background:url('./img/datadashboard/dashboard-list-6.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(7){
    background:url('./img/datadashboard/dashboard-list-7.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(1):hover,.state-7-item .state-item:nth-child(1).Dbcurrent{
    background:url('./img/datadashboard/dashboard-list-hover-1.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(2):hover,.state-7-item .state-item:nth-child(2).Dbcurrent{
    background:url('./img/datadashboard/dashboard-list-hover-2.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(3):hover,.state-7-item .state-item:nth-child(3).Dbcurrent{
    background:url('./img/datadashboard/dashboard-list-hover-3.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(4):hover,.state-7-item .state-item:nth-child(4).Dbcurrent{
    background:url('./img/datadashboard/dashboard-list-hover-4.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(5):hover,.state-7-item .state-item:nth-child(5).Dbcurrent{
    background:url('./img/datadashboard/dashboard-list-hover-5.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(6):hover,.state-7-item .state-item:nth-child(6).Dbcurrent{
    background:url('./img/datadashboard/dashboard-list-hover-6.png') no-repeat right;
  }
  .state-7-item .state-item:nth-child(7):hover,.state-7-item .state-item:nth-child(7).Dbcurrent{
    background:url('./img/datadashboard/dashboard-list-hover-7.png') no-repeat right;
  }
  /*八*/
  .state-8-item .state-item{
    height:20px;
    line-height: 20px;
  }
  .state-8-item .state-item:nth-child(1){
    background:url('./img/datadashboard/dashboard-d-list-1.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(2){
    background:url('./img/datadashboard/dashboard-d-list-2.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(3){
    background:url('./img/datadashboard/dashboard-d-list-3.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(4){
    background:url('./img/datadashboard/dashboard-d-list-4.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(5){
    background:url('./img/datadashboard/dashboard-d-list-5.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(6){
    background:url('./img/datadashboard/dashboard-d-list-6.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(7){
    background:url('./img/datadashboard/dashboard-d-list-7.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(8){
    background:url('./img/datadashboard/dashboard-d-list-8.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(1):hover,.state-8-item .state-item:nth-child(1).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-1.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(2):hover,.state-8-item .state-item:nth-child(2).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-2.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(3):hover,.state-8-item .state-item:nth-child(3).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-3.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(4):hover,.state-8-item .state-item:nth-child(4).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-4.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(5):hover,.state-8-item .state-item:nth-child(5).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-5.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(6):hover,.state-8-item .state-item:nth-child(6).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-6.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(7):hover,.state-8-item .state-item:nth-child(7).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-7.png') no-repeat right;
  }
  .state-8-item .state-item:nth-child(8):hover,.state-8-item .state-item:nth-child(8).Dbcurrent{
    background:url('./img/datadashboard/dashboard-d-list-hover-8.png') no-repeat right;
  }
