// DiskWarning.vue

@import "./systemSet.styl"

#disk-warning
  font-size 14px
  margin 20px
  .disk-warn-set
    .s-form
      margin-top 4px
    .disk-form-item
      margin-top: 5px
      text-align center
  .card-title
    color normalcy_text
    .iconfont
      position relative !important
      top 2px !important
  .warn-set-div
    height 450px
    border 1px solid border_color
    padding: 6px;
    position relative
    .warn-set-legend
      position: absolute;
      top: -10px;
      left: 10px;
      height: 30px;
      width: 120px;
      &+div
        margin-top 10px
    .scrollTableHeight
      height 425px
    .s-checkbox
      margin-left 4px
    .s-table
      margin-top 4px
    .field-title
      color normalcy_text
      margin 0 4px
// DHBAlarmSet

.DHB-alarm-set
  .srollHeight
    max-height: 500px
  .title
    color: title_3
    height: 36px
    line-height: 36px
    padding-left: 10px
    margin-bottom: 10px

// archivingRecovery

.upload-archiving
  position: relative
  .upload-archiving__tip
    position: absolute
    left: 0
    bottom: -15px
    width: 560px
    font-size: 12px
    color: gray_l3_text
    overflow: visible
  .s-upload-list.s-upload-list--text
    display: inline-block
    height: 30px
    .s-col
      width: 100%

.from-server__tip
  position: absolute
  left: 0
  bottom: -15px
  width: 560px
  text-align: right
  font-size: 12px
  color: gray_l3_text
  overflow: visible

.archivingByHand
  a
    color: link_text
