.accountPermissionContainer
  height: 480px
  padding: 8px 20px
  margin: 0 auto
  text-align: left
  .scrollMaxheight
    height: 400px
    padding-right 10px
  .title
    font-size 16px
    color title_1
    .s-col:first-child
      padding-left: 5px
    .s-col:last-child
      padding-right: 5px
  .boxBody
    font-size: 14px
    & > .s-row
      min-height: 36px
  .searchInput
    float: right
    line-height: 36px
