.stepContainer
  text-align center
  .s-steps
    margin-bottom 15px
  .stepContent
    text-align left
    .title
      text-align left
      height 36px
      line-height 36px
      font-weight 800
      color title_3
      background rgba(blue_l2_black,0.2)
      border-radius 3px
      .iconfont
        padding 3px
        i
          font-size 14px
    .tipIcon
      text-align center
    .scrollheight
      max-height 430px

