.main_3droom_content
  padding-top 10px
  height calc(100vh - 125px)
  width 100%
  .item-panel
    .search
      margin-bottom 5px;
    .item
      width 205px;
      height 150px;
      position relative;
      border 1px solid border_color;
      margin-bottom 10px;
      img
        width 205px;
        height 150px;
      span
        font-size 12px;
        line-height 22px;
        display block;
        position absolute;
        bottom 2px;
        left 2px;
        padding 0 3px;
        color title_3
        background-color rgba(original_color,0.3);
    .noData
      text-align center
      color darkWordColor
      font-size 12px
      height 25px
      line-height 25px
      .noName
        color link_text
  .collapse_btn
    padding: 8px 2px
  .canvas_content
    width: 100%
    height: calc(100vh - 165px)
    position:relative
    overflow: hidden
  .info_panel
    position absolute
    top: 0
    left 0
    width 240px
    height: calc(100vh - 165px)
    background-color block_bg
    padding 10px
    .bg-purple
      padding 10px 8px 8px 8px
      margin 5px
    .texture-thumbnail
      display block
      width 96px
      height 80px
      border 1px solid border_color
      padding 3px
      margin 3px
      cursor pointer
      img
        width: 96px
        height: 80px
#camera-controls
  position absolute
  bottom 0
  right 0
  padding 0 20px
  text-align right
#draw-walls-hint
  position absolute
  left 20px
  bottom 15px
  background-color rgba(0, 0, 0, 0.50)
  color main_text
  padding 5px 10px
  z-index 10
