/* pages\EventAlarmCfg\Alarm.vue */
.alarm-cfg
  margin: 20px 20px 0 20px
  .title
    color title_3
    height 36px
    line-height 36px
    padding-left 10px
    margin-bottom 10px
    font-weight 600
    .s-switch
      float right
  .title-list
    margin-top 20px
  .s-switch
    margin 0
    vertical-align middle
  .s-date-editor
    width 150px
  .tool-bar .s-button + .s-button
    margin-left 10px
  .s-select
    width 150px

/* pages\EventAlarmCfg\AlarmAdd.vue */
.alarm-add
  .s-table
    margin-bottom 20px
  .s-form-item-error-my
    text-align center
    background-color rgba(original_l3_black,0.2)
    border 1px solid border_color
    color main_text
  .s-form-my-error
    color error-my
    font-size 12px
    line-height 1
    padding-top 4px
    position absolute
    top 100%
    left 0
  .s-scrollbar-view
    padding-right 10px
  .tab-alarm-cel
    .s-form-item-error
      display none
