/* pages\EventList\* */
#eventContent
  min-height 630px
  margin-top 20px
  font-size 12px
  .action-icon-finish
    color green_l1_black
  .action-icon-ban
    color gary_l1_black
    cursor not-allowed
  .imgVertical
    vertical-align: middle
    .clickAble
      color: link_text
      text-decoration: underline
      cursor: pointer
  .searchGroupFloat
    float left
    max-width 83%
  .searchGroupBtn
    float right
    text-align right
  .dynaColSetDialog
    .s-dialog
      left: auto
      right: 10px
      transform: none
  #monitorEvent
    .s-table
      th,td
        .cell
          padding-left 0
          padding-right 0
    .s-table-column-selection
      .cell
        padding-left 15px !important
    .sc-table .tool-bar
      margin-bottom 0
  #dataBaseDetail
    .rowMaxHeight
      max-height: 183px;
      overflow: hidden;
      text-overflow: ellipsis;
    .wrap
      word-wrap: break-word;
      word-break: normal;
    .footerRow
      text-align: right
      .s-button:nth-of-type(1)
        margin-right: 20px;
  #exportCheckbox
  .s-checkbox-group .s-checkbox:last-of-type
    margin-left: 0;
    .footerRow
      margin-top: 15px;
      text-align: right;
  .alarm-more-content
    margin: 20px 20px 0 20px
  .processapproval-img
    width 100%
    text-align center
    & img
      background main_text
      margin 30px auto
      width 80%
  .s-loading-mask
    z-index 2000 !important
  .dynamicColSetScroll
    max-height 500px
  .checkAllDivide
    margin 5px 0 10px
    border-bottom 1px solid border_color
  .dynamicColSetFooter
    text-align right
    margin-top 15px










