.rules-business, .rules-db, .rules-monitor, .rules-operation
  .title
    color title_3
    height 36px
    line-height 36px
    font-weight 600
    margin-bottom 10px
  .is-builtin
    .icon-delete, .s-checkbox, .icon-pencil
      display none
