.oper-subpage-margin
  margin 20px

.oper-suppage-title
  font-size 16px
  color title_3

.table-view
  line-height: 2;
  padding: 10px;

.scrollMaxheight
  padding-right: 10px;
  max-height: 400px;

#downloadwin
  margin 20px
  .s-radio
    line-height 10px
  .downloadBtn
    margin-top 20px

#downloadDialog
  .scrollMaxH
    max-height: 300px
  .tipIcon
    text-align center
  .md-num
    width 100%
    color link_text
    & dd
      color gray_l1_text
  .tableicon
    width 22px
    height 22px
  .win
    background url(../../assets/images/homepage/oper-download.png) 0 -286px;
  .mac
    background url(../../assets/images/homepage/oper-download.png) 0 -330px;
  .linux
    background url(../../assets/images/homepage/oper-download.png) 0 -308px;
  .chrome
    background url(../../assets/images/homepage/oper-download.png) 0 -0px;
  .firefox
    background url(../../assets/images/homepage/oper-download.png) 0 -22px;
  .IE
    background url(../../assets/images/homepage/oper-download.png) 0 -44px;
  .putty
    background url(../../assets/images/homepage/oper-download.png) 0 -66px;
  .SecureCRT
    background url(../../assets/images/homepage/oper-download.png) 0 -88px;
  .SecureNetTerm
    background url(../../assets/images/homepage/oper-download.png) 0 -110px;
  .Xshell
    background url(../../assets/images/homepage/oper-download.png) 0 -132px;
  .FileZilla
    background url(../../assets/images/homepage/oper-download.png) 0 -154px;
  .FlashFXP
    background url(../../assets/images/homepage/oper-download.png) 0 -176px;
  .WinSCP
    background url(../../assets/images/homepage/oper-download.png) 0 -198px;
  .oracle
    background url(../../assets/images/homepage/oper-download.png) 0 -220px;
  .WinSQL
    background url(../../assets/images/homepage/oper-download.png) 0 -242px;
  .HeidiSQL
    background url(../../assets/images/homepage/oper-download.png) 0 -264px;

#oper-equipment
  margin 20px
  & .oper-left-nav
    background block_bg
  & .oper-right-table
    padding 10px
  .listHeight
    height calc(100vh - 168px)
  .s-tree
    background-color: transparent
  .s-tree-node-expand-icon
    margin-bottom 4px

.accountAddContainer
  margin: 0 auto
  text-align: left
  .scrollheight
    max-height: 480px
  .s-form, .s-scrollbar
    background: transparent
  .s-textarea-inner
    width: 100%
    box-sizing: border-box
  .s-input-number, .s-date-editor, .s-select
    width: 95%
    input
      width: 100%
  .tip
    color: title_2
    font-size: 14px
  .tipIcon
    text-align: center

#oper-set
  .portSet
    width 60%
    margin-top 20px
.setDataPage
  .s-form-item
    padding-left 65px
    margin-bottom 2px
    border 1px solid rgba(gray_l2_black,0.5)
    border-top none
    &:last-child
      border none
#oper-custom-add
  .step-height
    height 400px
  .s-steps {
    margin: 16px;
  }

#script-config
  #loginAccountDiv
    .s-form-item
      border 1px solid border_color
      padding 4px
  .commandTab
    width 100%
    border 1px solid border_color
    tbody tr+tr
      border-top 1px solid border_color
    thead div tr
      background-color block_bg
      color #fff
      font-weight bold
    tbody tr td,thead tr td
      padding 0px 20px
      height 40px
      line-height 40px
    tbody tr td,thead tr td
      &:first-child
        width 50px
      &:nth-child(2)
        width 250px
      &:nth-child(3)
        width 250px
      &:last-child
        width 110px
      & .iconfont
        font-size: 20px
        color: title_3
        margin-right: 15px
        cursor: pointer
  .recommend
    border 1px solid border_color
    border-top none
    margin-top -4px
    padding 20px 10px
    color normalcy_text

.oper-table-header
  width: 100%;
  text-align: center;
  color: #6cd2fd;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px
