original_l3_black = #125ea2
original_l2_black = #125ea2
original_l1_black = #125ea2
original_color = #1675cb
original_l1_white = #177ad0
original_l2_white = #4591d5

yellow_l3_black  = #bd7a0f
yellow_l2_black  = #f79700
yellow_l1_black  = #bd7a0f
yellow_color     = #ec9813
yellow_l1_white  = #d79a2a
yellow_l2_white  = #f0ad42

green_l3_black  = #1a9e58
green_l2_black  = #1a9e58
green_l1_black  = #1a9e58
green_color     = #20c66e
green_l1_white  = #20c37c
green_l2_white  = #4dd18b

blue_l3_black  = #3271cc
blue_l2_black  = #3271cc
blue_l1_black  = #258ce9
blue_color     = #3f8dff
blue_l1_white  = #3c90fe
blue_l2_white  = #65a4ff

red_l3_black  = #ba403e
red_l2_black  = #fe3d3b
red_l1_black  = #ba403e
red_color    =  #e8504e
red_l1_white  = #d4595f
red_l2_white  = #ed7371

main_text = #7e848d
normalcy_text_2 = #e4eaf2
gary_l1_black = #dce0e5
border_color = #c4c7cc
gray_l2_black = #bbc1c8
gray_l3_black = #939699
block_bg = #ffffff

title_1 = #292e33
title_2 = #ffffff
title_3 = #20a8f7
normalcy_text = #1675cb
gray_l1_text = #3d454c
gray_l2_text = #667480
gray_l3_text = #8a9299
link_text = #1675cb
hover_text = #20a8f7
active_button_bg = original_l2_white  // SQL模式审计选中背景颜色
hover_button_bd = #2e83d0  // SQL模式审计选中边框颜色（和hover颜色保持一致）
ctx_menu_bg = original_l1_black // SQL模式右键背景色
ctx_menu_hover_bg = original_l2_white // SQL模式右键hover背景色
ctx_menu_bd = original_l1_white // SQL模式右键边框
ctx_menu_hover_bd = #2e83d0 // SQL模式右键hover边框
error-my = #fa5555 // 自定义表单验证的文字提示
flow_chart_step = #48a4f5 // 流程图step背景色
