#change-pass-ctn
  .rightBtn
    float right
  #association
    #menue-bar
      margin-bottom 15px
    #taskForm
      margin-bottom 25px
    .title
      float left;
      color title_3
      .title
        color title_3
        i
          vertical-align middle
        span
          font-weight 600
          margin-left: 3px
    .saveGroupsRow
      margin-top 15px;
      text-align right
    .scrollMaxH
      max-height 550px
  .importChangePassCtn
    .underLine
      color link_text
      margin-top 10px
      cursor pointer
      &:hover
        text-decoration underline
