
.s-form
  .inputTree
    width: 50%
  &.s-form-inline
    .inputTree
      width: 100%

.inputTree
  display inline-block
  position relative
  .iconContainer
    position absolute
    top: 3px
    right: 6px
  i
    width: 25px
    height 25px
    line-height 25px
    margin-top -12.5px
    text-align: center
    border-radius: 50%
    color: #bfcbd9
  .treeContainer
    width: 100%
    position absolute
    top: 36px
    z-index: 1000
    background #000008
    border 1px solid #06172b
    .inputTreeHeight
      max-height 250px
